@import '@styles/_config.scss';

.badge-container {
  composes: flexCenter from '@styles/_common.scss';

  width: 2rem;
  height: 2rem;

  border-radius: $radius-circle;
  border: 1px solid $black;
}
