@import '@styles/_config.scss';

.filter-item {
  border-radius: $radius-4;
  background-color: $gray-3;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  text-align: center;
}

.active {
  background-color: $yellow-light;
}
