@import '@styles/_config.scss';

.cell {
  composes: cell pointer from '@styles/_common.scss';
  position: relative;
  display: flex;
  height: auto;
  align-items: center;

  &:hover,
  &:active {
    background-color: $white;
  }
}

.markers-container {
  background-color: $gray-2;
}

.active {
  background-color: $white;
}
