@import '@styles/_config.scss';

.grid {
  &-container {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.search {
  height: auto;
  font-size: $body-m;
  line-height: 1rem;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: $gray-2;
}
