@import '@styles/_config.scss';

.builder {
  &-attachment-container {
    position: relative;
    width: 100%;
    clip: auto;
    border: 1px solid $gray-4;
  }

  &-attachment-close-icon-container {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
  }

  &-attachment-image {
    width: inherit;
  }

  &-attachment-text-container {
    display: flex;
    flex-direction: column;
    padding: $space-xs $space-m;
  }
}
