@import '~@styles/_config.scss';

.nav-bar {
  height: $top-bar-height;
  background: $white;
  border-bottom: 1px solid $gray-4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}