@import "~@styles/_config";

.doday-app {
  width: 240px;
}

.main-layout {
  flex: 1;
}

.nav-bar {
  height: $top-bar-height;
  background: $white;
  border-bottom: 1px solid $gray-4;
}

.toggleMenu {
  width: 40px;
  height: 40px;
}

.desktop-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  height: calc(100vh - 4.4rem);
}