@import "~@styles/_config";

.drawer {
  width: 0px;
  transition: all 160ms linear;
  transform: translateX(-280px);
  border-right: 1px solid $dark-bg;
}

.drawer-visible {
  width: 280px;
  transition: all 130ms linear;
  transform: none;
}

.doday-app {
  width: 240px;
}

.main-layout {
  flex: 1;
}

.nav-bar {
  height: $top-bar-height;
  background: $dark-bg;
}

.toggleMenu {
  width: 40px;
  height: 40px;
}

.desktop-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  height: calc(100vh - 4.4rem);
}