@import '@styles/_config.scss';

.default {
  composes: button flex-center from '@styles/_common.scss';
  background-color: $gray-1;

  &:hover {
    background-color: $gray-3;
  }
}

.primary {
  composes: button flex-center from '@styles/_common.scss';
  background-color: $yellow;

  &:hover {
    background-color: $yellow-light;
  }
}

.disabled {
  composes: disabled from '@styles/_common.scss';
}

.small {
  border: 1px solid $border-dark;
  font-size: $body-s;
  height: 2.6rem;
}

.normal {
  border: 2px solid $border-dark;
  font-size: $body-m;
  height: 4rem;
}

.large {
  border: 2px solid $border-dark;
  font-size: $body-l;
  height: 5rem;
}
