@import "@styles/_config";

.default {
  composes: button flex-center from '@styles/_common';
  background-color: $gray-1;

  &:hover {
    background-color: $gray-3;
  }
}

.primary {
  composes: button flex-center from '@styles/_common';
  background-color: $yellow;

  &:hover {
    background-color: $yellow-light;
  }
}

.disabled {
  composes: disabled from '@styles/_common';
}