@import '@styles/_config.scss';

.icon-container {
  composes: pointer from '@styles/_common.scss';
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: $radius-circle;
  padding: 0.4rem;
  transition: all 0.3s;

  &:focus {
    outline: 0;
  }
  &.hover {
    &:hover,
    &:active {
      background-color: $gray-3 !important;
    }
  }
}

.backdrop {
  background-color: $dark-backdrop;

  &:hover,
  &:active {
    background-color: $dark-backdrop-hover;
  }
}

.border {
  border: 1px solid $gray-4;
}

.hover {
}
