// Animations

.pageflow-enter {
  opacity: 0;
  transform: translateX(200px);
}
.pageflow-enter.pageflow-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 200ms ease-out;
}
.pageflow-exit {
  opacity: 1;
}
.pageflow-exit.pageflow-exit-active {
  opacity: 0;
  transform: translateY(200px);
  transition: all 100ms ease-out;
}
