@import '@styles/_config.scss';

.scroll {
  width: 100%;
  composes: scroll from '@styles/_common.scss';
}

.page {
  &-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: $padding-l;
  }
}
