@import "./config";

.pointer {
  cursor: pointer;
}

.button {
  cursor: pointer;
  outline: none;
  border: 2px solid $border-dark;
  border-radius: $radius-4;
  height: 4rem;
  padding: 0 1rem;
  font-size: $body-m;
  transition: all 200ms ease;
}

.disabled {
  pointer-events: none;
  background-color: $gray-1 !important;
  border-color: $disabled-text !important;
  color: $disabled-text !important;
}

.cell {
  border-bottom: 1px solid $border-light;
  padding: 0 $space-s;
  
  &:first-child {
    border-top: 1px solid $border-light;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip {
  transform: rotate(180deg);
}

.icon {
  transition: all 300ms ease;
}

a {
  text-decoration: none;
  color: $primary-text;

  :hover {
    color: $primary-text;
  }
}

.top-bar-container {
  height: $top-bar-height;
  background: $gray-2;
  display: flex;
  color: $primary-text;
  border-bottom: 1px solid $gray-4;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
}