@font-face {
  font-family: 'Avenir Regular';
  src: url('@root/assets/fonts/Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('@root/assets/fonts/Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Demi';
  src: url('@root/assets/fonts/Demi.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('@root/assets/fonts/Heavy.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Light';
  src: url('@root/assets/fonts/Light.otf');
  font-weight: normal;
  font-style: normal;
}