@import '@styles/_config.scss';

.topbar {
  &-container {
    composes: top-bar-container from '@styles/_common.scss';
    box-sizing: border-box;
  }
}

.date-container {
  display: flex;
  align-items: center;
}

.date {
  padding-right: $space-xs;
  padding-top: 2px;
}
