@import '@styles/_config.scss';

.cell {
  composes: cell pointer from '@styles/_common.scss';
  display: flex;
  height: $cell-height;
  align-items: center;
  padding: $space-xs;
  position: relative;

  &:hover,
  &:active {
    background-color: $white;
  }
}

.cell-title {
  composes: padding-xs-left from '@styles/_spaces.module.scss';
  flex: 1;
}

.active {
  background-color: $white;
}

.center {
  composes: flexCenter from '@styles/_common.scss';
}

.goal-stats-container {
  border: 1px solid $gray-5;
  padding: $space-xxs 0;
  margin-right: $space-xs;
  box-sizing: border-box;
  border-radius: $radius-4;
  > span:first-child {
    border-right: 1px solid $gray-5;
  }
  > span {
    padding: $space-xxs $space-xs;
  }
}
