@import "@styles/_config";

.topbar {
  &-container {
    composes: top-bar-container from '@styles/_common';
  }
}

.date-container {
  display: flex;
  align-items: center;
}

.date {
  padding-right: $space-xs;
  padding-top: 2px;
}