@import '@styles/_config.scss';

.cell {
  composes: cell pointer from '@styles/_common.scss';
  position: relative;
  display: flex;
  height: auto;
  align-items: center;

  &:hover,
  &:active {
    background-color: $white;
  }
}

.completed {
  opacity: 0.6;
}

.padded {
  padding: $space-xxs $space-l $space-xxs $space-xxs;
}

.cell-title {
  composes: padding-xs-left from '@styles/_spaces.module.scss';
}

.active {
  background-color: $white;
}

.center {
  composes: flexCenter from '@styles/_common.scss';
}
