.layout-block {
  display: flex;
}

.child-flex {
  composes: child-flex from '@styles/_common.scss';
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flexCenter {
  justify-content: center;
}

.vflexCenter {
  align-items: center;
}

.flexStart {
  justify-content: flexStart;
}

.vflexStart {
  align-items: flexStart;
}

.flexEnd {
  justify-content: flexEnd;
}

.vflexEnd {
  align-items: flexEnd;
}

.align-self-center {
  align-self: center;
  justify-self: center;
}

.align-self-start {
  align-self: flexStart;
  justify-self: flexStart;
}

.align-self-end {
  align-self: flexEnd;
  justify-self: flexEnd;
}

.spaceBetween {
  justify-content: spaceBetween;
}

.space-around {
  justify-content: space-around;
}

.full-height {
  height: 100%;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.inside-elements-margin {
  > * {
    margin-right: 1rem;
  }
  > :last-child {
    margin-right: 0;
  }
}
