.layout-block {
  display: flex;

  div {
    flex: 1;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex-center {
  justify-content: center;
}

.vflex-center {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.vflex-start {
  align-items: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.vflex-end {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
