.layout-block {
  display: flex;
}

.child-flex {
  composes: child-flex from '@styles/_common.scss';
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex-center {
  justify-content: center;
}

.vflex-center {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.vflex-start {
  align-items: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.vflex-end {
  align-items: flex-end;
}

.align-self-center {
  align-self: center;
  justify-self: center;
}

.align-self-start {
  align-self: flex-start;
  justify-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
  justify-self: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.full-height {
  height: 100%;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.inside-elements-margin {
  > * {
    margin-right: 1rem;
  }
  > :last-child {
    margin-right: 0;
  }
}
