@import '@styles/_config.scss';

.cell {
  composes: cell pointer from '@styles/_common.scss';
  position: relative;
  display: flex;
  height: $cell-height;
  align-items: center;

  &:hover,
  &:active {
    background-color: $white;
  }
}

.padded {
  padding: $space-xs $space-l $space-xs $space-xs;
}

.cell-title {
  composes: padding-l-xs from '@styles/_utils.scss';
}

.active {
  background-color: $white;
}

.center {
  composes: flex-center from '@styles/_common.scss';
}
