@import '@styles/_config.scss';

.input-container {
  position: relative;
}

.input {
  width: calc(100% - 4rem);
  margin: 1rem;
  border: 0;
  padding: 1rem;
  border-bottom: 1px solid #f1f1f1;

  &::placeholder {
    color: $gray-6;
  }
  &:focus {
    outline: none;
  }
}

.loader {
  position: absolute;
  right: 3rem;
  top: 2rem;
  bottom: 0;
}

.small {
  font-size: $title-s;
  height: 3rem;
  line-height: 2rem;

  &::placeholder {
    font-size: $body-l;
  }
}

.medium {
  font-size: $title-m;
  height: 3rem;
  line-height: 2rem;

  &::placeholder {
    font-size: $title-s;
  }
}

.large {
  font-size: $title-l;
  height: 3rem;
  line-height: 2rem;

  &::placeholder {
    font-size: $title-m;
  }
}
