@import '@styles/_config';

.cell {
  composes: cell pointer from '@styles/_common';
  position: relative;
  display: flex;
  height: $cell-height;
  align-items: center;

  &:hover, &:active {
    background-color: $gray-1;
  }
}

.active {
  background-color: $gray-2;
}

.center {
  composes: flex-center from '@styles/_common';
}