@import './config';

.pointer {
  cursor: pointer;
}

.button {
  box-sizing: border-box;
  height: 3.8rem;
  border: 2px solid $dark-bg;
  font-size: $body-m;
  cursor: pointer;
  outline: none;
  border-radius: $radius-4;
  padding: 0 1rem;
  transition: all 200ms ease;
}

.disabled {
  pointer-events: none;
  background-color: $gray-1 !important;
  border-color: $disabled-text !important;
  color: $disabled-text !important;
}

.borderless {
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

.cell {
  border-bottom: 1px solid $border-light;

  &:first-child {
    border-top: 1px solid $border-light;
  }
}

.cell:first-child {
  border-top: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-flex {
  > div {
    flex: 1;
  }
}

.flip {
  transform: rotate(180deg);
}

.icon {
  transition: all 300ms ease;
}

a {
  text-decoration: none;
  color: $primary-text;

  :hover {
    color: $primary-text;
  }
}

.scroll {
  overflow-y: scroll;
}

.top-bar-container {
  height: $top-bar-height;
  background: $gray-2;
  display: flex;
  color: $primary-text;
  border-bottom: 1px solid $gray-4;
  justify-content: space-between;
  align-items: center;
  padding: 0 $space-xs;
}

.well {
  background-color: $gray-2;
  border-radius: $radius-6;
}
