@import '@styles/_config.scss';

// -------------------- Margins -------------------- //

.padding-l-xs {
  padding-left: $space-xs;
}
.padding-l-s {
  padding-left: $space-s;
}
.padding-l-l {
  padding-left: $space-l;
}
.padding-r-xs {
  padding-right: $space-xs;
}
.padding-r-s {
  padding-right: $space-s;
}
.padding-r-l {
  padding-right: $space-l;
}
.padding-t-xs {
  padding-top: $space-xs;
}
.padding-t-s {
  padding-top: $space-s;
}
.padding-t-l {
  padding-top: $space-l;
}
.padding-b-xs {
  padding-bottom: $space-xs;
}
.padding-b-s {
  padding-bottom: $space-s;
}
.padding-b-l {
  padding-bottom: $space-l;
}

// Padding above
.padding-zero-above {
  padding-top: 0;
}
.padding-xxs-above {
  padding-top: $space-xxs;
}
.padding-xs-above {
  padding-top: $space-xs;
}
.padding-s-above {
  padding-top: $space-s;
}
.padding-m-above {
  padding-top: $space-m;
}
.padding-l-above {
  padding-top: $space-l;
}
.padding-xl-above {
  padding-top: $space-xl;
}
.padding-xxl-above {
  padding-top: $space-xxl;
}

// Padding below
.padding-zero-below {
  padding-bottom: 0;
}
.padding-xxs-below {
  padding-bottom: $space-xxs;
}
.padding-xs-below {
  padding-bottom: $space-xs;
}
.padding-s-below {
  padding-bottom: $space-s;
}
.padding-m-below {
  padding-bottom: $space-m;
}
.padding-l-below {
  padding-bottom: $space-l;
}
.padding-xl-below {
  padding-bottom: $space-xl;
}
.padding-xxl-below {
  padding-bottom: $space-xxl;
}

// Padding left
.padding-xxs-left {
  padding-left: $space-xxs;
}
.padding-xs-left {
  padding-left: $space-xs;
}
.padding-s-left {
  padding-left: $space-s;
}
.padding-m-left {
  padding-left: $space-m;
}
.padding-l-left {
  padding-left: $space-l;
}
.padding-xl-left {
  padding-left: $space-xl;
}
.padding-xxl-left {
  padding-left: $space-xxl;
}

// Padding right
.padding-xxs-right {
  padding-right: $space-xxs;
}
.padding-xs-right {
  padding-right: $space-xs;
}
.padding-s-right {
  padding-right: $space-s;
}
.padding-m-right {
  padding-right: $space-m;
}
.padding-l-right {
  padding-right: $space-l;
}
.padding-xl-right {
  padding-right: $space-xl;
}
.padding-xxl-right {
  padding-right: $space-xxl;
}

// -------------------- Margins -------------------- //

// Space above
.space-zero-above {
  margin-top: 0;
}
.space-xxs-above {
  margin-top: $space-xxs;
}
.space-xs-above {
  margin-top: $space-xs;
}
.space-s-above {
  margin-top: $space-s;
}
.space-m-above {
  margin-top: $space-m;
}
.space-l-above {
  margin-top: $space-l;
}
.space-xl-above {
  margin-top: $space-xl;
}
.space-xxl-above {
  margin-top: $space-xxl;
}

// Space below
.space-zero-below {
  margin-bottom: 0;
}
.space-xxs-below {
  margin-bottom: $space-xxs;
}
.space-xs-below {
  margin-bottom: $space-xs;
}
.space-s-below {
  margin-bottom: $space-s;
}
.space-m-below {
  margin-bottom: $space-m;
}
.space-l-below {
  margin-bottom: $space-l;
}
.space-xl-below {
  margin-bottom: $space-xl;
}
.space-xxl-below {
  margin-bottom: $space-xxl;
}

// Space left
.space-xxs-left {
  margin-left: $space-xxs;
}
.space-xs-left {
  margin-left: $space-xs;
}
.space-s-left {
  margin-left: $space-s;
}
.space-m-left {
  margin-left: $space-m;
}
.space-l-left {
  margin-left: $space-l;
}
.space-xl-left {
  margin-left: $space-xl;
}
.space-xxl-left {
  margin-left: $space-xxl;
}

// Space right
.space-xxs-right {
  margin-right: $space-xxs;
}
.space-xs-right {
  margin-right: $space-xs;
}
.space-s-right {
  margin-right: $space-s;
}
.space-m-right {
  margin-right: $space-m;
}
.space-l-right {
  margin-right: $space-l;
}
.space-xl-right {
  margin-right: $space-xl;
}
.space-xxl-right {
  margin-right: $space-xxl;
}
