@import '@styles/_config.scss';

.builder {
  &-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: $space-l;
  }

  &-select-container {
    flex: 1;
    &:first-child {
      margin-right: 1rem;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 3rem;
  }

  &__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 8rem;
    height: 8rem;
    border-radius: 0.6rem;
    border: 2px solid #222;
  }
}

.date-picker-input {
  align-items: center;
  text-align: center;
  font-family: $font-regular;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 38px;
  outline: 0 !important;
  position: relative;
  transition: all 100ms;
  box-sizing: border-box;
}

.time-tooltip {
  width: 6rem;
}
