@import '@styles/_config.scss';

.builder {
  &-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: $space-l;
  }

  &-select-container {
    flex: 1;
    &:first-child {
      margin-right: 1rem;
    }
  }

  &-attachment-container {
    position: relative;
    width: 100%;
    clip: auto;
    border: 1px solid $gray-4;
  }

  &-attachment-close-icon-container {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
  }

  &-attachment-image {
    width: inherit;
  }

  &-attachment-text-container {
    padding: $space-xs $space-m;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 3rem;
  }

  &__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 8rem;
    height: 8rem;
    border-radius: 0.6rem;
    border: 2px solid #222;
  }
}
